


.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    margin: 30px;
    transition: transform 0.2s;
}


.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 300px;
    height: 300px;
}


.cardContenido {
    padding: 20px;
}

.cardTitulo {
    font-size: 1.5em;
    margin: 0;
}

.cardDescripcion {
    font-size: 1em;
    color:#212121;
    margin: 10px 0;
}

.boton {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 50px;
    font-size: 1em;
    color:#f4f4f4;
    background-color:#212121;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.comprar {
    display: flex;
    width: 130px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    color:#212121;
    background-color:#f4f4f4;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.comprar:hover {
    background-color: #A1EF00;
}

.boton:hover {
    background-color: #f4f4f4;
    color:#212121;
}
@font-face {
    font-family: 'Handjet-bold';
    src: url(../assets/fonts/Handjet-Bold.ttf);
    font-weight: normal;
    font-style:italic;
}

.tituloProductos {
    font-family: 'Handjet-bold';
    text-align: center;
    margin-bottom: 20px;
    font-size: 70px;
    text-align: center;
    color: #212121;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
